#config app env variables
NODE_ENV=development
PORT=8080

PAGE_ID=240161432510064
APP_ID=1068201367622635
APP_SECRET=f20d3a26fda90c07a08190b25affba50
VERIFY_TOKEN=randomToken
PAGE_ACCESS_TOKEN=EAAPLhgMQ0ZBsBO9nKydSZCbjJEhgQStCik14uitUPqfF8VmBbdXQREIc493hpJqvMf8c2USioljSmIo9J9ZC5SaHyCLdQmO8hxs80zCCeCqyhyaxq3DmVa8FvQzvU1p4zT0IA2lEEuAwaBTHhGe4GefQfhiiNGXGYtZBmFtCGIxk9fx6MvkogSH9EpfhRr9ZAZCc5jeTqf

